//todo colors
$bg-primary: #ffffff;
$primary: #101629;
$primary-light: #434449;
$secondary: #d4d4f5;
$secondary-light: #e1e1ff;
//todo fonts
@font-face {
  font-family: 'Merriweather Regular';
  src: url(~@/assets/Merriweather-Regular.woff2) format('woff2'),
    url(~@/assets/Merriweather-Regular.woff) format('woff');
}
//todo default styles
:root,
html,
body {
  background-color: $bg-primary !important;
  color: $primary;
  font-size: 14px !important;
  line-height: normal !important;
  font-family: Merriweather Regular !important;
  letter-spacing: 0.3px !important;
}
button {
  &:focus {
    outline: none !important;
  }
}
a {
  color: $primary;
  text-decoration: none !important;
  &:hover {
    color: $primary;
    text-decoration: none !important;
  }
}

// ** custom buttons
.n-btn {
  background: $secondary;
  color: $primary;
  border-radius: 2px;
  border: none;
  padding: 5px 15px;
  margin: 5px;
  display: inline-block;
  font-family: inherit;
  &:hover {
    color: $primary;
    background-color: $secondary-light;
  }

  &:focus {
    outline: none;
  }

  &:not([href]) {
    cursor: pointer;
    color: $primary;
    text-decoration: none;
  }

  &:not([href]):hover {
    color: $primary;
    text-decoration: none;
  }

  &:disabled {
    background-color: $secondary-light;
    cursor: not-allowed;
  }

  a {
    display: block;
    width: 100%;
  }
}

//todo media queries
// ** Desktop
@media only screen and(min-width:768px) {
  // ** link-tool custom
  .link-tool__image {
    margin: 0 0 0 10px !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 3px;
    float: right;
  }
  // ** Boards styles
  .boards-intro {
    padding: 20px 100px 0 100px !important;
  }
}
// ** mobile
@media only screen and(max-width:768px) {
  // ** Boards styles
  .boards-intro {
    padding: 50px 0px 0 0px !important;
  }
}
//todo component/views styles
// ** navbar custom homepage
.navbar {
  background-color: $secondary !important;
  font-size: 14px !important;
  .navbar-nav {
    .nav-link {
      color: $primary !important;
      padding: 7px !important;
      &:hover {
        background-color: $secondary-light;
        border-radius: 5px;
      }
    }
  }
  .navbar-brand {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    color: $primary !important;
    padding: 0 7px;
    img {
      max-width: 28px;
    }
    span {
      padding: 0 3px;
      font-weight: 600;
    }
    &:hover {
      background-color: $secondary-light;
      border-radius: 5px;
    }
  }
}

// ** Login
.login-logo {
  width: 20px;
  margin: 5px;
  cursor: pointer;
}
.modal-backdrop {
  display: none !important;
}
.nav-link {
  cursor: pointer;
}
.upstatus {
  border-radius: 2px;
  background-color: rgb(218, 218, 218);
}

// ** Lgin modal tabs custom css
.nav-tabs {
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  border: none !important;
  .nav-link {
    border: none !important;
    &:hover {
      border: none !important;
    }
  }
  .nav-item.show .nav-link {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-color: none !important;
    &:hover {
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      border-color: none !important;
    }
  }
  .nav-link.active {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid black !important;
  }
}

p {
  margin-bottom: 10px !important;
}
.btn {
  margin: 0 4px;
}

// ** app margin animation
.content-def {
  transition-property: margin-left;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}
.content {
  margin-left: 200px;
}
.tooltiptext {
  background-color: $secondary;
  color: $primary;
  text-align: center;
  border-radius: 5px;
  padding: 5px 7px;
  position: absolute;
  z-index: 20000000;
  visibility: visible;
  box-shadow: 2px 2px 10px 0.5px #00000057;
}

//todo emoji picker
.emoji-picker {
  position: absolute;
  z-index: 100;
  margin: 70px 0 0 40px;
}
